<li role="presentation">
    <p id='whitecolored' class="colored" >
        <%= f.radio_button :milestone_value, "#FFFFFF", :onclick => "this.form.submit();" %>
    </p>
</li>
<li role="presentation">
    <p id='greycolored' class="colored" >
        <%= f.radio_button :milestone_value, "#F8F8F8", :onclick => "this.form.submit();" %>
    </p>
</li>
<li role="presentation">
    <p id='greencolored' class="colored" >
        <%= f.radio_button :milestone_value, "#66FF66", :onclick => "this.form.submit();" %>
    </p>
</li>
<li role="presentation">
    <p id='yelcolored' class='colored'>
        <%= f.radio_button :milestone_value, "#FFFF33", :onclick => "this.form.submit();" %>
    </p>
</li>
<li role="presentation">
    <p id='redcolored' class='colored'>
        <%= f.radio_button :milestone_value, "#FF0000", :onclick => "this.form.submit();" %>
    </p>
</li>
