<table id="kanbans"><tr>
    <th>
        <%= f.label @kanban.name%>
    </th>
    <td>
        <%= f.text_field :name %>
    </td>
</tr>

    <% @kanban_milestones.try(:each) do |value| %>

        <tr>
            <th> <%= value.label :kms_name %> </th>
            <td> <%= value.text_field :kms_name, value %> </td>
            <td> <%= check_box_tag "cols[#{value.kms_name}]" %> </td>
            <!-- <td> <a href='#' class='btn2 removeRow2'>X</a> </td> -->
        </tr>

    <% end %>

</table>

    <br>
    <%= f.submit "Save changes", class: "btn btn-sm btn-primary" %>
    <%= f.submit "Delete selected", class: "btn btn-sm btn-primary", name: "remove_columns" %>
    <%= link_to 'Cancel', kanban_path, class: "btn btn-sm btn-primary" %>

