<!-- <div id="modal-window" class="modal fade" role="modal-dialog"></div> -->

<!-- <div class="modal fade" id='modal-edit-fields'> -->
<%= form_for @kanban do |f| %>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" align="center">Add a column</h4>
      </div>

        <div class="modal-body">

            <table id="kanbans" align="center">

                <%= f.fields_for :kanban_milestones, @kanban.kanban_milestones.build do |ff| %>
                    <tr>
                        <th> <%= f.label 'New column:' %> </th>
                        <td> <%= ff.text_field :kms_name %> </td>
                    </tr>
                <% end %>

            </table>
        </div>

        <div class="modal-footer">
            <div class="row text-center">
                    <!-- <div class="btn-group"> -->
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    <%= f.submit "Save", class: "btn btn-primary btn-sm", name: "add_column" %>
            </div>
        </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->

<% end %>
