<div class="container">

    <h3> Yay, let's edit the kanban </h3><br>

    <%= form_for @kanban, :url => {:action => "update"} do |f| %>

        <% @kanban.errors.full_messages.each do |msg| %>
            <p> <%= msg %> </p>
        <% end %>

        <table id="kanbans"><tr>
            <th>
                <%= f.label @kanban.name%>
            </th>
            <td>
                <%= f.text_field :name %>
            </td>
        </tr>

        <%= f.fields_for :kanban_milestones do |ff| %>

            <tr>
                <th> <%= ff.label @kanban.kanban_milestones[ff.options[:child_index]].kms_name %> </th>
                <td> <%= ff.text_field :kms_name %> </td>
                <td> <%= ff.check_box :_destroy %> </td>
                <td> <%= ff.label :_destroy, 'delete' %> </td>
            </tr>

        <% end %>

        </table>

        <br>

        <%= f.submit "Update columns", class: "btn btn-sm btn-primary", :name => "update_columns" %>
        <%= f.submit "Delete columns", class: "btn btn-sm btn-primary", name: "delete_columns" %>
        <%= link_to 'Cancel', kanban_path, class: "btn btn-sm btn-primary" %>


    <% end -%>

</div>


