
<div class='container'>
        <table id="movies" class='table table-hover'>
            <tr>
                <th> <%= link_to @kanban.name, edit_kanban_path %> </th>

                <% @kanban.settings.try(:each) do |key,value| %>
                    <th> <%= value %> </th>
                <% end %>

                <th> <a href = '<%=link_to @kanban %>' data-target="#test_modal" data-toggle="modal" style="width:100%" >
                        <span class="glyphicon glyphicon-plus"></span>
                </th>
            </tr>

                <% @kanban.organizations.each do |this_org| %>

                    <tr class="dots">
                        <td> <%= this_org.name %> </td>

                            <%= form_for(this_org) do |f| %>

                                    <% this_org.progress.try(:each) do |key,value| %>

                                        <td class="dropdown" style="background-color: <%= value %> " >

                                            <a href="#" data-toggle="dropdown" class="dropdown-toggle extended">  <b class="caret caret-right" ></b> </a>

                                            <ul class="dropdown-menu dropdown-menu-left" role="menu" >

                                                    <li role="presentation">
                                                        <p id='greencolored' class="colored" >
                                                            <%= f.radio_button :org_columnholder, [key, "#66FF99"], :onclick => "this.form.submit();" %>
                                                        </p>
                                                    </li>

                                                    <li role="presentation">
                                                        <p id='yelcolored' class='colored'>
                                                            <%= f.radio_button :org_columnholder, [key, "#FFFF99"], :onclick => "this.form.submit();" %>
                                                        </p>
                                                    </li>
                                                    <li role="presentation">
                                                        <p id='redcolored' class='colored'>
                                                            <%= f.radio_button :org_columnholder, [key, "#FF0000"], :onclick => "this.form.submit();"%>
                                                        </p>
                                                    </li>
                                            </ul>
                                        </td>

                                    <% end %> <!-- end of this_org.progress.each -->

                            <% end %> <!-- end of form_for -->

                    </tr>


                <% end %> <!-- end of kanban.organizations.each -->


            <!-- <td> <a href= '/organizations/new'><span class="glyphicon glyphicon-plus"></span></a></td> -->

        </table>

        <p class='line2'>
            <a href= '/organizations/new'><span class="glyphicon glyphicon-plus"></span></a>
        </p>

        <p class='line'>
            <%= link_to "Back to all kanbans", kanbans_path %>
        </p>

 </div>

<div class="modal fade" id='test_modal' tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" area-hidden="true">
    <%= render 'modal_form' %>
</div>


