
<div class='container'>
        <table id="movies">
            <tr>
                <th> <%= link_to @kanban.name, edit_kanban_path %> </th>

                <% @kanban.settings.try(:each) do |key,value| %>
                    <th> <%= value %> </th>
                <% end %>

                <th> <a href = '<%=link_to @kanban %>' data-target="#test_modal" data-toggle="modal" style="width:100%" >
                        <span class="glyphicon glyphicon-plus"></span>
                </th>

            </tr>

                <% @kanban.organizations.each do |k| %>
                    <tr class="dots">
                        <td> <%= k.org_columnholder %> </td>

                        <%= form_for k do |e| %>

                            <% k.progress.each do |key,value| %>
                                <td class="dropdown" >
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle extended"> <b class="caret caret-right" ></b> </a>
                                    <ul class="dropdown-menu dropdown-menu-left" role="menu" >
                                        <%= render :partial => 'dropdowns', :locals => { :e => e } %>
                                    </ul>
                                </td>

                            <% end %>

                        <% end %>
                    </tr>

                <% end %>

            <td> <a href= '/organizations/new'><span class="glyphicon glyphicon-plus"></span></a></td>

        </table>


        <%= link_to "Back to all kanbans", kanbans_path %>

 </div>

<div class="modal fade" id='test_modal' tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" area-hidden="true">
    <%= render 'modal_form' %>
</div>

